.container {
  width: 70%;
  margin: auto;
  text-align: center;
  font-family: "Rancho", cursive;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #ea907a;
}

h1 {
  margin: 30px;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #f4f7c5;
}

p {
  font-size: 2rem;
  color: #f4f7c5;
  font-family: "Rancho", cursive;
}

img {
  width: 80%;
}
.play {
  padding: 50px;
}

.play-btn {
  padding: 15px 40px;
  border-radius: 10px;
  border: none;
  font-size: 2rem;
  background-color: #fbc687;
  color: #9c060c;
}

footer {
  margin-top: 5%;
  color: #f4f7c5;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
