.container {
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: "Rancho", cursive;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #ea907a;
}

h1 {
  margin: 18px;
  text-shadow: 5px 0 #232931;
  font-size: 7rem;
  color: #f4f7c5;
}

p {
  font-size: 2rem;
  color: #f4f7c5;
  font-family: "Rancho", cursive;
  padding-bottom: 15px;
}

img {
  width: 80%;
}
.game-option {
  padding: 50px;
}

.play-btn,
.add-player-btn,
.remove-player-btn {
  padding: 15px 40px;
  border-radius: 10px;
  border: none;
  font-size: 2rem;
  background-color: #f4f7c5;
  color: #9c060c;
}
button {
  margin: 5px auto;
  display: block;
}
button:hover {
  cursor: "pointer";
}
footer {
  margin-top: 1%;
  color: #f4f7c5;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
a:hover {
  cursor: "pointer";
}
@media screen and (max-device-width: 600px) {
  .container {
    width: 90%;
  }
  h1 {
    font-size: 3.5rem;
  }
  button {
    margin: 10px auto;
  }
  p {
    font-size: 1.5rem;
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .play-btn,
  .add-player-btn,
  .remove-player-btn {
    padding: 10px 20px;
  }
}
